.dashboard {
    height: calc(100vh - 110px);
    background-color: rgb(238, 238, 238);
    padding: 40px 80px;

    &__title{
        font-size: 1.7rem;
        font-weight: bold;
        width: fit-content
    }

    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        margin-top: 40px;
    }
}